@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at varius ligula. In faucibus odio quis tellus pulvinar posuere.<br /> 
Sed ac elit odio, vel ultricies odio. Nullam lobortis faucibus pharetra. Proin mollis hendrerit nulla, in luctus mauris consequat et. <br />
Phasellus a dui in dui sodales ullamcorper. Aenean condimentum ipsum ac augue fermentum porta. Nullam interdum, augue ac interdum varius, <br />
elit leo eleifend erat, interdum accumsan metus tellus non tortor. Integer scelerisque est justo, sed ullamcorper massa. Vestibulum ac est sit amet erat<br />
 elementum mollis pharetra quis eros. Nullam sed magna magna, vitae sollicitudin ipsum. In mattis velit at mi porta a rutrum lacus consectetur.<br />
  Vivamus hendrerit eleifend orci in elementum. Etiam placerat condimentum facilisis.
  </p>

  <p>
Nullam vel risus id velit mattis interdum id vel tortor. Donec vestibulum ante sed risus pharetra ultrices.<br />
 Praesent purus purus, aliquam in consectetur ut, malesuada vel nisl. Etiam et tortor ligula, et accumsan ipsum. Curabitur consequat leo et ante commodo<br />
  quis tincidunt ante sagittis. In pretium fermentum sagittis. Ut commodo gravida nunc, sagittis auctor libero interdum quis.
Aenean rutrum pulvinar dui ac sollicitudin. Praesent et lorem eu dolor feugiat ultricies. Integer faucibus eleifend neque, vel semper sapien dictum eget.<br />
 Aliquam tristique eleifend aliquet. Nullam est dolor, varius sed rutrum ac, placerat et libero. Cras non lacus quis ipsum malesuada ultricies.<br />
  Nam lorem sapien, dictum ac scelerisque in, scelerisque id quam. Curabitur vulputate, odio quis suscipit lobortis, odio urna tincidunt ipsum,<br />
   sed eleifend sapien dui sit amet nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
Aenean nec ante sem. Etiam tincidunt pharetra blandit. Vestibulum libero nisl, feugiat a vehicula sed, interdum et orci.<br />
</p>

<p>
 Quisque orci enim, imperdiet ac porta eget, dapibus quis metus. Morbi leo libero, tincidunt quis malesuada et, ultrices ut turpis.<br />
  Pellentesque molestie aliquam diam sit amet semper. Morbi at lectus in quam eleifend mattis sed in elit. Cras sem nibh, vestibulum et tempor eget, <br />
  vulputate eget lorem. Pellentesque condimentum egestas odio, in cursus tellus consequat et. Nulla aliquam, erat et vulputate gravida, ante orci mollis<br />
   turpis, ac iaculis lectus metus nec mi. Aliquam at dui orci, ac auctor purus. Cum sociis natoque penatibus et magnis dis parturient montes,<br />
    nascetur ridiculus mus. In tristique magna ac quam tincidunt at pellentesque risus interdum. Mauris tincidunt elementum purus suscipit scelerisque.<br />
     Cras mattis egestas ultrices. Nam feugiat consequat purus fringilla viverra.<br />
Proin non velit ut justo venenatis rhoncus a vitae elit. Nam lacus massa, faucibus a mollis vel, ultricies ac magna. Sed odio arcu, faucibus ut ultrices vel,<br />
 adipiscing sit amet augue. Sed ut lectus at urna tristique facilisis. Cras at quam magna. Sed nec mauris ligula. Donec commodo sapien in nunc aliquet auctor.<br />
  Sed vel nisl a odio accumsan egestas. Fusce ut justo et libero mollis tempus vitae viverra nunc. Phasellus tristique luctus nisl et consequat.<br />
   Proin a pellentesque sapien. 
</p>