<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="tipoPersistencia" value="xml"/>
    <!--<add key="tipoPersistencia" value="banco"/>-->
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Livraria" connectionString="data source=.\sqlexpress;initial catalog=LIVRARIA;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>  
  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
